<div class="container-fluid animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Bienvenidos</h1>
        </div>
    </div>
    <div class="col-lg-6">
      <p>Proyeco Formativo SENA 2017
        <br><br>
        Proyecto en GitHub: <a href="https://github.com/JuanchoSk8/Dashboard">https://github.com/JuanchoSk8/Dashboard</a>
        <br><br>
        Integrantes:
        <br><br>
        Alejandro Velez Ortiz
        <br>
        Ferney Marcelo Correa
        <br>
        Juan Esteban Pulgarin
        <br>
        Juan David Cardenas
        <br><br>
        &copy Rodeo Skateboard
        <br>
        Facebook: <a href="https://es-la.facebook.com/rodeoskateboard/">https://es-la.facebook.com/rodeoskateboard/</a>
        <br>
        Instagram: <a href="https://www.instagram.com/rodeoskateboard/">https://www.instagram.com/rodeoskateboard/</a>
        <br>
        Correo: <a href="mailto:rodeoskateboard@gmail.com">rodeoskateboard@gmail.com</a>
        <br>
        Contacto: 3632069 - 3197373967
      </p>
    </div>
</div>
